<div class="ms-5 me-5">
  <h2>Ur info</h2>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img src="" alt="userPhoto">
        </div>
        <div class="col-sm-4">
          <p>Name: {{profileData.name}}</p>
          <p>Surname: {{profileData.surname}}</p>
          <p>Email: {{profileData.email}}</p>
          <p>Phone: {{profileData.number}}</p>
        </div>
        <div class="col-sm-4">
          <p>Adress: {{profileData.adress}}</p>
          <p>CP: {{profileData.CP}}</p>
          <p>City: {{profileData.city}}</p>
          <p>Country: {{profileData.country}}</p>
        </div>
      </div>
    </div>
  <h2>Ur adds</h2>
</div>