<div class="container bg-light">
    <div class="row butt">
        <div class="col-12 col-sm-6 col-lg-3">
            <h3>FindUrPro</h3>
            <p>
                We are building our future
            </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <h3>Copyright</h3>
            <p>
                We are building our future
            </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <h3>Social media</h3>
            <p>
                We are building our future
            </p>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <h3>Legality</h3>
            <p>
                We are building our future
            </p>
        </div>
    </div>
</div>