@import "../variables.scss";

*{
    @include general;
}

.logout{
    width: 50%;
    margin: 0 auto;
}

.cont{
    display: grid;
    grid: 
    "title title" 
    "b1 b2" ;
}

.title{
    text-align: center;
    margin-bottom: 5%;
    grid-area: title;
}

.b1{
    grid-area: b1;
    max-width: 50%;
    margin-left: 25%;
}

.b2{
    grid-area: b2;
    max-width: 50%;
    margin-left: 15%;
}

@media (max-width: 1000px) {
    *{
        @include general;
    }

    .cont{
        display: grid;
        grid: 
        "title" 
        "b1"
        "b2";
    }

    .b1{
        max-width: 50%;
        margin-left: 25%;
        margin-bottom: 3%;
    }
    
    .b2{
        max-width: 50%;
        margin-left: 25%;
    }
}