<div class="ms-5 me-5">
  <h2>Login</h2>
  <br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button class="btn btn-primary" (click)="log()">Submit</button>
  </div>
  <img src="assets/media/welcome.webp" alt="welcome" class="resize">