<app-navbar></app-navbar>
<div class="container-fluid a">
  <div class="row">
    <div class="col-sm-2">
      Logo
    </div>
    <div class="col">
      <h2>FindUrPro</h2>
      <h4>Damos vida a tus proyectos</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus vitae massa ut volutpat. 
        Fusce varius neque sem, sed condimentum leo facilisis a. In ultrices placerat diam sed lacinia. 
        Aenean semper urna a purus porta sodales. Curabitur accumsan quam sit amet magna sodales, non semper sem
         aliquam. Fusce libero erat, pulvinar ac maximus id, faucibus eu lorem. Maecenas condimentum dolor at orci 
         consequat tempor. Nullam sit amet viverra velit. Quisque tincidunt quam sit amet nibh placerat tincidunt. 
         Maecenas scelerisque nisi eu lorem varius aliquet. Donec pharetra sem vel quam bibendum, quis malesuada 
         nibh efficitur. 
        Phasellus semper blandit ex, vel placerat lacus volutpat quis. Phasellus tincidunt et lectus non tincidunt.
      </p>
    </div>
  </div>
</div>
  