<div class="container-fluid mainContainer">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-12 col-sm-3">
                <img src="assets/media/Logo.png" alt="logo">
            </div>
            <div class="col text">
              <h2>FindUrPro</h2>
              <h4>Make your ideas come to life</h4>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus vitae massa ut volutpat. 
                  Fusce varius neque sem, sed condimentum leo facilisis a. In ultrices placerat diam sed lacinia. 
                  Aenean semper urna a purus porta sodales. Curabitur accumsan quam sit amet magna sodales, non semper sem
                  aliquam.
              </p>
            </div>
        </div>
    </div>

      <div id="carouselExampleIndicators" class="carousel slide carr" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/media/kitchen.jpeg" class="d-block w-100" alt="1">
          </div>
          <div class="carousel-item">
            <img src="assets/media/garden.jpg" class="d-block w-100" alt="2">
          </div>
          <div class="carousel-item">
            <img src="assets/media/bathroom.jpg" class="d-block w-100" alt="3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="container-fluid">
        <h2 class="text-center bottom">Choose from hundreds of pros!!</h2>
        <div class="row butt">
            <div class="col-6 col-sm-4 col-lg-2">
                <a class="nav-link active" aria-current="page" routerLink="/search">
                  <img src="assets/media/bolt_FILL0_wght400_GRAD0_opsz48.svg">
                  <h5>Electricians</h5>
                </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
              <a class="nav-link active" aria-current="page" routerLink="/search">
                <img src="assets/media/valve_FILL0_wght400_GRAD0_opsz48.svg">
                <h5>Plumbers</h5>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
              <a class="nav-link active" aria-current="page" routerLink="/search">
                <img src="assets/media/handyman_FILL0_wght400_GRAD0_opsz48.svg">
                <h5>Handymans</h5>
              </a> 
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
              <a class="nav-link active" aria-current="page" routerLink="/search">
                <img src="assets/media/child_care_FILL0_wght400_GRAD0_opsz48.svg">
                <h5>Babysitters</h5>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
              <a class="nav-link active" aria-current="page" routerLink="/search">
                <img src="assets/media/local_florist_FILL0_wght400_GRAD0_opsz48.svg">
                <h5>Gardeners</h5>
              </a>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
              <a class="nav-link active" aria-current="page" routerLink="/search">
                <img src="assets/media/mop_FILL0_wght400_GRAD0_opsz48.svg">
                <h5>Cleaners</h5>
              </a>
            </div>
        </div>
      </div>
</div>