$defFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$defBox: border-box;
$imgSize: 100%;

@mixin general{
    font-family: $defFont;
    box-sizing: $defBox;
    max-width: $imgSize;
}

.bottom{
    margin-bottom: 3%;
}

.top{
    margin-top: 3%;
}
