  <div class="ms-5 me-5">
    <h2>Talking about FindUrPro</h2>
    <div class="row p-5">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
      </div>
      <div class="col-md-6">
        <img src="assets/media/company.webp" alt="">
      </div>
      <div class="col-md-6">
        <img src="assets/media/teamwork.jpg" alt="">
      </div>
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet purus eros, nec finibus nisl viverra quis. 
          Vivamus vel orci eget felis interdum vulputate. In hac habitasse platea dictumst. Morbi scelerisque, tellus sed pulvinar commodo,
           erat quam tincidunt ex, vel consectetur dui nulla eu purus.</p>
      </div>
    </div>
  </div>  
