  <div class="ms-5 me-5">
    <h2>Talking about FindUrPro</h2>
    <div class="row p-5">
      <div class="col-md-6">
        <p>Our project was founded in 2015, and since then we have been looking forward to the future. There has been
          a great investment, both in time and money, but we managed to pull something good from it. Now, our website
          is the main business platform for lots of people, and we are proud of it. It has been done before, but not 
          with such a commitment.
        </p>
        <p>
          The way we try to incentivate excellent professionals to come to our bussines is by giving them priority, 
          in such things as the way they want to build their profile up. We think they are the core of the whole idea,
          so we give them full freedom to express themselves. There is no such thing as valuing what brings something
          to your mouth.
        </p>
        <p>
          As for clients, we do want to treat them as if they were in they own houses. It might be impossble, but we try
          to offer the best service we can to do so.
        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/media/company.webp" alt="">
      </div>
      <div class="col-md-6">
        <img src="assets/media/teamwork.jpg" alt="">
      </div>
      <div class="col-md-6">
        <p>Our project was founded in 2015, and since then we have been looking forward to the future. There has been
          a great investment, both in time and money, but we managed to pull something good from it. Now, our website
          is the main business platform for lots of people, and we are proud of it. It has been done before, but not 
          with such a commitment.
        </p>
        <p>
          The way we try to incentivate excellent professionals to come to our bussines is by giving them priority, 
          in such things as the way they want to build their profile up. We think they are the core of the whole idea,
          so we give them full freedom to express themselves. There is no such thing as valuing what brings something
          to your mouth.
        </p>
        <p>
          As for clients, we do want to treat them as if they were in they own houses. It might be impossble, but we try
          to offer the best service we can to do so.
        </p>
      </div>
    </div>
  </div>  
